@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f9fafb;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1 {
  color: #333;
}

.leaflet-container {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* src/components/Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  font-size: 24px;
}

.slogan {
  font-size: 12px;
  color: #ccc;
}

.nav a {
  margin: 0 10px;
  color: #fff;
}

.receive-alerts-button {
  background-color: red;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}

.hamburger-menu {
  display: none; /* Affichez-le en mode mobile */
}
